<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://www.w3.org/ns/widgets"
    id="nat-media-video"
    version="0.1.0">
    <name>nat-media-video</name>
    <description></description>
    <license>MIT</license>
    <keywords>weex,plugin,nat,natjs,video</keywords>
    <repo>https://github.com/Natjs/weex-nat-media-video.git</repo>
    <issue>https://github.com/Natjs/weex-nat-media-video/issues</issue>
    
     <!-- ios -->
     <platform name="ios">
         <framework src="NatVideo" type="podspec" spec="" />
         <config-file target="WeexpluginConfig.xml" parent="/*">
             <feature name="WXTestModule">
                 <param name="category" value="module" />
                 <param name="ios-package" value="WeexNatVideo" />
                 <param name="api" value="nat/media/video" />
             </feature>
         </config-file>
         <header-file src="ios/WeexNatVideo.h"/>
         <source-file src="ios/WeexNatVideo.m"/>
     </platform>

     <!-- android -->
     <platform name="android">
        <config-file target="config.xml" parent="/*">
             <feature name="MediaVideoModule">
                 <param name="category" value="module" />
                 <param name="android-package" value="com.nat.weex.MediaVideoModule" />
                 <param name="api" value="nat/camera" />
             </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/*">
             <uses-permission android:name="android.permission.INTERNET" />
        </config-file>

        <source-file
             src="android/MediaVideoModule.java"
            target-dir="src/com/alibaba/weex/nat/MediaVideoModule.java" />

        <framework src="com.nat:media-video:1.0.6" />
     </platform>

</plugin>
